.widget-popular-post .popular-posts li,
.widget-popular-post .popular-posts li:first-child {
  margin:0;
  padding:0;
  border:none;
  overflow:hidden;
}

.widget-popular-post .popular-posts li + li {margin-top:.6153846153846154em}

.widget-popular-post .popular-posts .popular-post-image {
  display:block;
  float:left;
  width:50px;
  overflow:hidden;
}

.widget-popular-post .popular-posts .popular-post-image img {
  display:block;
  width:50px;
  height:50px;
  max-width:none;
  max-height:none;
  margin:.23076923076923078em 0 0;
}

.widget-popular-post .popular-posts .popular-post-header,
.widget-popular-post .popular-posts .popular-post-body {
  margin:0 0 .6153846153846154em;
  overflow:hidden;
}

.widget-popular-post .popular-posts .popular-post-title {
  display:block;
  font-weight:bold;
}

.widget-popular-post .popular-posts .popular-post-time {
  display:block;
  font-size:.6923076923076923em;
  text-transform:uppercase;
  letter-spacing:.2222222222222222em;
  color:#AAA;
}

.widget-popular-post .popular-posts .popular-post-footer {clear:both}

.widget-popular-post .popular-posts .popular-post-image + .popular-post-header,
.widget-popular-post .popular-posts .popular-post-image + .popular-post-header + .popular-post-body,
.widget-popular-post .popular-posts .popular-post-image + .popular-post-header + .popular-post-body + .popular-post-footer {
  margin-left:50px;
  padding-left:1em;
}


/* thumbnail only */

.widget-popular-post.kind-4 .popular-posts {
  margin:-.6153846153846154em 0 0 -.6153846153846154em;
  zoom:1;
}

.widget-popular-post.kind-4 .popular-posts:after {
  content:' ';
  display:table;
  clear:both;
}

.widget-popular-post.kind-4 .popular-posts li,
.widget-popular-post.kind-4 .popular-posts li + li {
  float:left;
  margin:.6153846153846154em 0 0 .6153846153846154em;
  padding:0;
  line-height:0;
}

.widget-popular-post.kind-4 .popular-posts .popular-post-image img {
  display:block;
  margin-top:0;
}